body, input {
        font-family: Calibri, Arial;
        margin: 0px;
        padding: 0px;
}
#header h2 {
        color: white;
        background-color: #3275A8;
        height: 40px;
        padding: 5px 0 0 5px;
}
